<a href="~/lib/bootstrap/custombootstrap.css.map">~/lib/bootstrap/custombootstrap.css.map</a>
<link href="~/lib/bootstrap/custombootstrap.css" rel="stylesheet" />

<div style="width: 100%; height: 100%">
    <h1 class="d-flex justify-content-center align-items-center">
        An error occurred while processing your request.
    </h1>
</div>