DB_PASSWORD=TvojeHeslo
HTTP_PORT=8080
SQL_PORT=1732 <-- Toto je port, na kterém bude SQL Server naslouchat na hostitelském počítači
SQL_DOCKER_PORT=1433 <-- Toto je port, na kterém bude SQL Server naslouchat uvnitř kontejneru Docker
WEB_URL=http://localhost:8080