<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SPSUL</title>
    
    <!-- CSS first -->
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link href="~/lib/bootstrap/customBootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tabbar.css" asp-append-version="true" />
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/select2-bootstrap-5-theme-1.3.0/dist/select2-bootstrap-5-theme.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/loading.css" rel="stylesheet" asp-append-version="true"/>
    
    <!-- JS libraries -->
    <script src="~/js/loading.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/toastr.js/toastr.min.js" asp-append-version="true"></script>
    <script src="~/select2/js/select2.min.js" defer></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/gsap/gsap.min.js" asp-append-version="true"></script>
    <link rel="shortcut icon" href="~/Image/ico.ico" />

</head>
<body>
    <div id="loader-overlay">
        <div class="mascot-container">
            <div class="mascot-body">
                <div class="grad-cap">
                    <div class="cap-top">
                        <div class="tassel"></div>
                    </div>
                    <div class="cap-base"></div>
                </div>
                <div class="eye left"><div class="pupil"></div></div>
                <div class="eye right"><div class="pupil"></div></div>
                <div class="mouth"></div>
            </div>
            <div class="shadow-oval"></div>
        </div>
        <p class="loading-text">Chvilku strpení,<br><span style="color: #ff8a00">pracuji na žádosti...</span></p>
    </div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/image/logo/spsul.webp" width="32" height="32" alt="SPSUL logo"/>
                <img src="~/image/logo/spsul-logo-uk.png" class="ms-1" width="120" height="24" alt="SPSUL"/>
            </a>
            <!-- Desktop navigation only; on mobile používáme spodní Tab Bar -->
            <div class="collapse navbar-collapse d-none d-lg-block" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link PrimaryButton" aria-current="page" asp-controller="Test" asp-action="Create" title="Vytvořit test">
                            <i class="bi bi-clipboard-plus-fill testIcon me-1" aria-hidden="true"></i>
                            <span class="visually-hidden">Vytvořit test</span>
                            Vytvořit test
                        </a>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <a class="nav-link SecondButton" asp-controller="Students" asp-action="Index" title="Studenti">Studenti</a>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <a class="nav-link" asp-controller="Home" asp-action="Index" title="Domů">
                            <i class="bi bi-house-door-fill me-1" aria-hidden="true"></i>
                            Domů
                        </a>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <a class="nav-link" asp-controller="Detail" asp-action="Index" title="Výsledky">
                            <i class="bi bi-clipboard2-fill me-1" aria-hidden="true"></i>
                            Výsledky
                        </a>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <a class="nav-link" asp-controller="Question" asp-action="Index" title="Otázky">
                            <i class="bi bi-patch-question-fill me-1" aria-hidden="true"></i>
                            Otázky
                        </a>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <a class="nav-link" asp-controller="Test" asp-action="Index" title="Testy">
                            <i class="bi bi-patch-question-fill me-1" aria-hidden="true"></i>
                            Testy
                        </a>
                    </li>
                </ul>
                @await Component.InvokeAsync("User")
            </div>
        </div>
    </nav>
    @await Component.InvokeAsync("Config")
    @RenderBody()
    
    <script src="~/js/configuration.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_TabBar")
    <script src="~/js/tabbar.js" asp-append-version="true"></script>
</body>
</html>

@await Html.PartialAsync("_NotificationHandler")