<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SPSUL</title>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    <link href="~/lib/bootstrap/customBootstrap.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true" defer></script>
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="shortcut icon" href="~/Image/ico.ico" />
    <link rel="stylesheet" href="~/css/tabbar.css" asp-append-version="true" />
    <script src="~/js/configuration.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/image/logo/spsul.webp" width="32" height="32" alt="SPSUL logo"/>
                <img src="~/image/logo/spsul-logo-uk.png" class="ms-1" width="120" height="24" alt="SPSUL"/>
            </a>
            <!-- Desktop navigation only; on mobile používáme spodní Tab Bar -->
            <div class="collapse navbar-collapse d-none d-lg-block" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link PrimaryButton" aria-current="page" asp-controller="Test" asp-action="Index" title="Vytvořit test">
                            <i class="bi bi-clipboard-plus-fill testIcon me-1" aria-hidden="true"></i>
                            <span class="visually-hidden">Vytvořit test</span>
                            Vytvořit test
                        </a>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <a class="nav-link SecondButton" asp-controller="Students" asp-action="Index" title="Studenti">Studenti</a>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <a class="nav-link" asp-controller="Home" asp-action="Index" title="Domů">
                            <i class="bi bi-house-door-fill me-1" aria-hidden="true"></i>
                            Domů
                        </a>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <a class="nav-link" asp-controller="Detail" asp-action="Index" title="Výsledky">
                            <i class="bi bi-clipboard2-fill me-1" aria-hidden="true"></i>
                            Výsledky
                        </a>
                    </li>
                    <li class="nav-item ms-lg-2">
                        <a class="nav-link" asp-controller="Question" asp-action="Index" title="Otázky">
                            <i class="bi bi-patch-question-fill me-1" aria-hidden="true"></i>
                            Otázky
                        </a>
                    </li>
                </ul>
                @await Component.InvokeAsync("User")
            </div>
        </div>
    </nav>

    <div class="modal" id="configModal" tabindex="-1">
        <div class="modal-dialog-centered modal-dialog modal-xl modal-fullscreen-lg-down">
            <div class="modal-content myModal d-flex flex-row">
                <nav class="navbar">
                    <ul class="customUl">
                        <li class="menuItem active"><a>Profil a oprávnění</a></li>
                        <li class="menuItem"><a>Administrace</a></li>
                        <li class="menuItem"><a>Studenti</a></li>
                        <li class="menuItem"><a>O aplikaci</a></li>
                        <li class="menuItem"><a asp-controller="Auth" asp-action="Logout">Odhlásit se</a></li>
                    </ul>
                </nav>
                <div class="modalContent">
                    <div class="ProfileContent">
                        <div class="Profile">
                        </div>
                        <p class="TeacherName">Bc. Jakub Pokorny</p>
                    </div>
                    <div class="modalBreak"></div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)

    @await Html.PartialAsync("_TabBar")

    <script src="~/js/tabbar.js" asp-append-version="true" defer></script>
</body>
</html>
