:root {
    --spsul-primary: #DE401A;
    --spsul-white: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-image: url('/Image/Hero-Stribrniky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.layout {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    max-height: 100vh;
    min-height: 100vh;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    justify-items: center;
    background-color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.6) 3px 0px 6px 2px;
}


.logo {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 10rem;
    height: 10rem;
}

.Header {
    margin: 0;
    padding: 0;
    color: var(--spsul-primary);
    text-align: center;
    font-size: 2.5rem;
}

.boldWhite {
    color: #fff;
    font-weight: 600;
}

a {
    font-size: 0.95rem;
    cursor: pointer;
}

hr {
    background-color: #f57e1d;
    margin: 0 auto;
    width: 16rem !important;
    height: 5px !important;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .right {
        width: 100vw;
        border-top-left-radius: 0;
    }
}