:root {
    --brand: #ff8a00;
    --text: #222;
    --muted: #6b6b6b;
    --card: #fff;
    --border: #e9e9e9;
    --fail: #4b4b4b;
    --radius: 12px;
}

.icon-btn{border:0;
          background:transparent;
          color: var(--brand);
          padding:6px;
          border-radius:8px;
}

.icon-btn:active{
    transform:scale(1.05)

}
.details-row{
    display:none

}
.details-row.open{
    display:table-row;

}
.details {
    background: rgb(250,250,250);
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 12px
}

.brandText {
    background-color: var(--brand);
    color: white;
    font-weight: 600;
}

.cardTable {
    height: 90vh;
}

.tableContent{
    height: 100% !important;
}

@media (max-width: 992px) {
    .cardTable {
        height: 67vh;
    }
}