:root {
    --brand: #ff8a00;
    --text: #222;
    --muted: #6b6b6b;
    --card: #fff;
    --border: #e9e9e9;
    --fail: #4b4b4b;
    --radius: 12px;
}

.icon-btn{border:0;
          background:transparent;
          color: var(--brand);
          padding:6px;
          border-radius:8px;
}

.icon-btn:active{
    transform:scale(1.05)

}
.details-row{
    display:none

}
.details-row.open{
    display:table-row;

}
.details {
    background: rgb(250,250,250);
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 12px
}

.brandText {
    background-color: var(--brand);
    color: white;
    font-weight: 600;
}

.cardTable {
    height: 90vh;
}

.tableContent{
    height: 100% !important;
}

@media (max-width: 992px) {
    .cardTable {
        height: 67vh;
    }
}

.iconLink {
    font-size: 16px;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
    color: white !important;
    font-weight: 600;
}


.btn-delete {
    text-align: center;
    width: max-content;
    padding: 8px 16px;
    background: #fee2e2;
    color: #dc2626;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .btn-delete:hover {
        background: #dc2626;
        color: white;
        box-shadow: 0 4px 12px rgba(220, 38, 38, 0.3);
    }

    .btn-delete:active {
        transform: scale(0.95);
    }

.btn-deactivate {
    text-align: center;
    width: max-content;
    padding: 8px 16px;
    background: #f7d7b7;
    color: #ed841a;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .btn-deactivate:hover {
        background: #e9793a;
        color: white;
        box-shadow: 0 4px 12px rgb(240 140 46 / 30%);
    }

.btn-deactivate:active {
    transform: scale(0.95);
}