.createContainer {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.createPanel {
    padding: 16px;
    background-color: rgb(255,255,255);
    border-radius: 8px;
    box-shadow: 0px 1px 12px 1px rgb(0 0 0 / 20%);
    width: 1440px;
}