@using SPSUL.Models.Data
@model List<Teacher>

<div class="ConfigContent">
    <p class="ContentHeader">Správá učitelů</p>
    <div class="w-50 h-100">
        <div class="card shadow-sm">
            <div class="card-header brandText">Seznam testů/otázkových balíčků</div>
            <div class="table-responsive">
                <table class="table align-middle mb-0">
                    <thead>
                        <tr id="">
                            <th>Jméno</th>
                            <th>Příjmení</th>
                            <th>Tituli</th>
                            <th>Přezdívka</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var teacher in Model)
                        {
                            <tr>
                                <td>@teacher.FirstName</td>
                                <td>@teacher.LastName</td>
                                <td>@teacher.Titles.Select(e => e.ToString() + "")</td>
                                <td>@teacher.NickName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div>Strana</div>
                <div class="btn-group">
                    <a class="btn btn-outline-secondary">Předchozí</a>
                    <a class="btn btn-outline-secondary">Další</a>
                </div>
            </div>
        </div>
    </div>
    <div class="configuration">
    </div>
</div>