@model int
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <h1 class="h-100 w-100 d-flex justify-content-center align-items-center">
            @Model.ToString()
        </h1>
    </body>
</html>